@import url("reset.css");

@font-face {
  font-family: "Authentic Sans";
  src: url("fonts/authentic-sans-60.otf") format("opentype");
  font-weight: 60;
  font-style: normal;
}

@font-face {
  font-family: "Authentic Sans";
  src: url("fonts/authentic-sans-90.otf") format("opentype");
  font-weight: 90;
  font-style: normal;
}

@font-face {
  font-family: "Authentic Sans";
  src: url("fonts/authentic-sans-130.otf") format("opentype");
  font-weight: 130;
  font-style: normal;
}

@font-face {
  font-family: "Authentic Sans";
  src: url("fonts/authentic-sans-150.otf") format("opentype");
  font-weight: 150;
  font-style: normal;
}

:root {
  --Sea: #170278;
  --Clouds: #F1F1F1;
  --font-nav: "Authentic Sans", sans-serif;
}

* {
  box-sizing: border-box;
}

/* Small mobile base styles, ex. iPhone SE */

body {
  background-color: var(--Clouds);
  color: var(--Sea);
  font-family: var(--font-nav);
  font-optical-sizing: auto;
  font-weight: 90;
  font-style: normal;
  font-size: 6dvw;
  line-height: 1.2;
}


header {
	display: flex;
	/* justify-content: center; */
	border-bottom: 4px solid var(--Sea);
}


.header-content {
  display: flex;
  margin: 1rem;
	justify-content: space-between;
	width: 100%;
}

.projects-heading {
	padding: 1rem 0 1rem 3rem;
  	display: flex;
	/* justify-content: center; */
	border-bottom: 4px solid var(--Sea);
    border-top: 4px solid var(--Sea);
    display: flex;
}

.projects-heading h1 {
  display: flex;
  justify-content: space-around;
}



 span.dot {
	padding: 0 0.8rem 0 0;

}


.project-content h2 {
  display: flex;
  padding: .1rem 0;
  border-bottom: 2px solid var(--Sea);
}


  section {
	margin: 9dvw 10dvw;
}


footer {
    border-top: 4px solid var(--Sea);
	display: flex;
	justify-content: center;
}

p.lead-paragraph {
    padding-bottom: 1.5rem;
}

.footer-content {
	display: flex;
	flex-wrap: wrap;
   justify-content: center;
   margin: 1rem;
}

.footer-content a {
	margin: 0.5rem .25rem 0rem .5rem;
	background: var(--Sea);
	color: var(--Clouds);
	padding: 0.25rem;
	text-decoration: none;
	border: 3px solid var(--Sea);
	padding: .3rem .8rem .25rem .8rem;
	border-radius: 2.5rem;
}
