@import url("reset.css");

@font-face {
  font-family: "Authentic Sans";
  src: url("fonts/authentic-sans-60.otf") format("opentype");
  font-weight: 100;
  font-style: normal;
}

@font-face {
  font-family: "Authentic Sans";
  src: url("fonts/authentic-sans-90.otf") format("opentype");
  font-weight: 200;
  font-style: normal;
}

@font-face {
  font-family: "Authentic Sans";
  src: url("fonts/authentic-sans-130.otf") format("opentype");
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: "Authentic Sans";
  src: url("fonts/authentic-sans-150.otf") format("opentype");
  font-weight: 400;
  font-style: normal;
}

/* --- COLOR & FONT VARIABLES --- */
:root {
  --Trees: #2A5241;
  --Clouds: #F1F1F1;
  --Ash: #444444;
  --Cream: #fffef9;
  --font-nav: "Authentic Sans", sans-serif;
}



* {
  box-sizing: border-box;
}


/* body as vertical flex container to center the page */

body {
  background-color: var(--Clouds);
  color: var(--Trees);
  font-family: var(--font-nav);
  font-optical-sizing: auto;
  font-weight: 200;
  font-style: normal;


}

.page-container {
  height: 100vh;
  overflow: hidden;
  display: flex;
  flex-direction: column;

}

/* ---- HEADER ---- including title elements */

header {
  text-align: center;
  padding: 5rem 0 4rem 0;
  border-bottom: .25rem solid var(--Trees);
  line-height: 1.25;
}

.name {
  text-transform: uppercase;
  font-size: 3rem;
  font-weight: 300;
}


/* --- MAIN ---- including two sections */

main {
  flex: 1;
  overflow-y: auto;
  border-bottom: .25rem solid var(--Trees);
  padding: 4rem 3rem;
}


main p {
      line-height: 1.25;
    font-size: 1.25rem;
}

details {
      text-align: center;
    font-size: 1.5rem;
    margin: 1rem 0;
}

footer {
  display: flex;
  width: 100vw;
  justify-content: space-around;
  font-weight: 300;
  padding: 3rem 0;
  font-size: 1.4rem;
}

a {
  color: var(--Trees);

}

